{% extends "layout.html" %}
{% block body %}

    <div class="container" align="center">
        <h3>Загрузка QR для расшифровки:</h3><br>
            <form name="load_img" action="{{ url_for('fileUpload') }}" method="POST" enctype="multipart/form-data" role="form">
                <div class="form-group">
                    <span class="btn btn-default btn-file">
                        Загрузить изображение <input type="file" name="file" accept="image/jpeg">
                    </span>
                </div>

                <div class="form-group">
                        <button type="submit" class="btn btn-default">Декодировать</button>
                        <button type="reset" class="btn btn-default">Очистить</button>
                </div>
            </form>
    </div>

{% endblock %}