{% extends "layout.html" %}

{% block body %}

    <div class="container">
        <h3> Введите текст для кодирования в QR код: </h3> <br>
        <form class="form-horizontal" name="input_text" action="{{ url_for('showQR') }}" method="POST" role="form">
            <div class="form-group">
                <input class="form-control" type="text" size="30" name="entry">
            </div>

            <div class="form-group">
                    <button type="submit" class="btn btn-default">Кодировать</button>
                    <button type="reset" class="btn btn-default">Очистить</button>
            </div>
        </form>
    </div>

{% endblock %}