{% extends "layout.html" %}

{% block body %}

    <br><br><br>
    <div class="container" align="center">

        <img class="img-responsive" src="{{ qrcode(entry , error_correction='H') }}" >
        <h3> Закодирован текст: </h3>
        {{ entry }} <br><br><br>

    </div>


{% endblock %}